/* NavBar */

#title {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 11;
}

.navbar {
    height: 85px;
}

.navbar-nav {
    left: 0;
}

.navbar-icon {
    right: 0;
}

.nav-link {
    text-align: center;
    color: white;
    font-family: 'Changa One', cursive;
    letter-spacing: 2px;
    font-size: 80%;
    margin: 0 5px;
}

.fullnav {
    display: flex;
    justify-content: space-between;
}

.navbar-text {

    font-family: 'Ubuntu';
    color: white;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding-right: 180px;
    text-decoration: none;
    background-color: black;
    border: none !important;
}

.nav-link:hover {
    color: cadetblue;
}


.navbar-text:hover {
    color: cadetblue;
    text-decoration: none;
}

.btn {
    color: black;
}

.btn:hover {
    background-color: cadetblue;
    border-color: cadetblue;
}

.fa-solid {
    color: black;
}


/* Intro */

#intro {
    background-color: black;
}

.div1 {
    padding: 5px;
}

.background-video {
    background-position-x: center;
    height: 100vh;
    text-align: center;

}

.background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: fill;
    opacity: .9;
    padding: 0 2%;
}

.intrologo {
    padding-top: 80px;
    border-radius: 100%;
    padding-bottom: 0px;
    height: 60%;
    position: relative;
    z-index: 10;

}

.introtitle {
    color: white;
    font-family: 'Montserrat';
    position: relative;
    z-index: 10;

}

.introbtn {
    background-color: rgb(0, 0, 0, 0);
    border: white;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    font-family: 'Ubuntu';
    position: relative;
    z-index: 10;
}

.introbtn:hover {
    border-color: cadetblue;
    color: cadetblue;
}

/* Max */

#max {
    padding-bottom: 5%;
    background-color: black;
    color: white;
}

.maxdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
}


.maxpic {
    border-radius: 50px;
    height: 500px;
    margin-right: 5%;
    margin-top: 5%;

}

.maxtext {
    text-align: center;
    padding: 25% 10% 0%;
    font-family: 'ubuntu';
}

.maxtext2 {
    text-align: center;
    padding: 5% 10% 0%;
    font-family: 'ubuntu';
    font-size: 1rem;
}

.smmmax {
    align-content: center;
    background-color: rgb(0, 0, 0, 0);
    border: white;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu';
    margin-left: 5%;
    margin-top: 5%;
}

.smmmax:hover {
    border-color: cadetblue;
    color: cadetblue;
    text-decoration: none;
}

/* testimonials */

#testimonials {
    text-align: center;
    background-color: black;
    color: #fff;
    height: 700px;

}

.people {
    text-align: center;
    font-family: 'ubuntu';


}

.carousel-item {
    padding: 7% 15%;
}

.test-image {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin-top: 5px;
}

.testimonial-text {
    font-size: 1.5rem;
}

/* Footer */

#footer {
    padding: 1% 15%;
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.social-icon {
    margin: 20px 10px;
    color: rgb(19, 18, 19);
    text-align: right;
}

.social-icon:hover {
    color: cadetblue;
}

.footsocial {
    text-align: right;

}

.footertext {
    text-align: left;
}


.ftheading {
    text-align: center;
    font-family: 'Changa One';
    font-size: 1.5rem;
}

.footeremail {
    font-family: 'Ubuntu';
    font-size: 0.8rem;
    text-align: center;
}

.footeremail:hover {
    color: cadetblue;
}


/* Contact Me -- Page 2 --- */

#contactme {

    background-color: black;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}

.cntform {
    padding-top: 2%;

}

.contactlogo {
    height: 600px;
    padding-right: 5%;
}

.cntlogo {
    color: white;
    text-align: center;
}

.cnt-icon {
    color: white;
    padding: 1%;
    padding-bottom: 35%;
}

.cnt-icon:hover {
    color: cadetblue;
}


.form-check-label {
    color: black;
}

.cntform {
    width: 500px;

}

.selector {
    background-color: white;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;

}

.formtext {
    color: black;
    text-align: left;
    font-size: 1rem;
}

.formtext:hover {
    color: black;
}

.s1and2 {
    display:flex;
    justify-content:space-between;
    

}

.selector1 {
    background-color: white;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 5%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    width: 48%;


}

.selector2 {
    background-color: white;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    width: 48%;

}

.selector7 {
    background-color: white;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    height: 200px;

}

#textbox {
    height: 140px;
    width: 450px;
}

/* About me --Page 3--*/

.thankyou {
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
    margin-top: 250px;
}

.tytext {
    color: black;
    text-align: center;
}

.homebtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0);
    border: white;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu';
    margin: 5% 35%;
}

.homebtn:hover {
    border-color: cadetblue;
    color: cadetblue;
    text-decoration: none;
}

/* Social Media Management --Page 3--*/

#socialmedia {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-evenly;

}

.mediadiv1 {
    padding: 0%;
}

.background-image {
    background-position-x: center;
    height: 35vh;
    text-align: center;
    background-color: black;

}

.background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    object-fit: fill;
}

.mediatitle {
    position: absolute;
    color: white;
    font-family: 'Montserrat';
    position: relative;
    padding-top: 200px;
    z-index: 10;
}

.mediadiv {
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.mediatext {
    text-align: center;
    font-size: 2rem;
    width: 90%;
    font-weight: bolder;

}

.mediatext2 {
    font-size: 1.5rem;
}

.socialpic {
    width: 90%;
    float: right;
}

/* Why SSM --Page 3--*/

#whyssm {
    background-color: black;
    text-align: center;
    padding-bottom: 5%;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    border-color: black;

}

.card {
    border-color: black;
    border-radius: 15px;
}

.whysmmtext {
    padding: 5% 0%;
    color: white;
    font-weight: bolder;
}

.card-title {
    color: black;
    font-family: 'Montserrat';
}

.card-header {
    background-color: cadetblue;
}

.leftcards {
    margin-left: 10%;
}

.rightcards {
    margin-right: 10%;
}

/* SMM enquiry */

#smmenquiry {
    background: black;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.smmformtext {
    text-align: center;
    padding: 0% 0% 2% 0%;
    font-family: "Montserrat";
    color: white;
    font-weight: bolder;

}

.smmfullform {
    display: flex;
    justify-content: space-around;
}

.selectora {
    background-color: white;
    margin: 1%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 5%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}
.selectorb {
    background-color: white;
    margin: 1%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 5%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}
.selectorc {
    background-color: white;
    margin: 1%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 5%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}
.smmfullform2 {
    display: flex;
    justify-content:start;
}

.selectord {
    background-color: white;
    margin: 2.5%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 5%;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

.smmsubmit {
    
    align-content: center;
    background-color: rgb(0, 0, 0, 0);
    border: white;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu';
    margin: 90%;

}

.smmsubmit:hover {
    border-color: cadetblue;
    color: cadetblue;
    text-decoration: none;
}


/* Gallery */


#gallery {
    padding-top: 110px;
    background-color: black;
    padding-bottom: 150px;
}

.gallerytext {
    text-align: center;
    padding: 5% 0% 10px 0%;
    font-family: "Montserrat";
    color: white;
    font-weight: bolder;
}

.galleryunder {
    text-align: center;
    padding-bottom: 2%;
    font-family: "Montserrat";
    color: white;
    font-weight:lighter;
    font-size: 1rem;
}

.thumb {
    margin-bottom: 30px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

video.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}



.thumb:not(:hover) {
    filter: grayscale(100%);
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .30;
    filter: alpha(opacity=40);
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
}

#boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
}

.boxclose:before {
    content: "×";
}

#fade:hover~#boxclose {
    display: none;
}

.test:hover~.test2 {
    display: none;
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.modal-header {
    border: none !important;
}


.close {
    color: white !important;
    font-size: 3rem !important;
    opacity: 1 !important;
}